body {
    font-family: "Times New Roman";
    background-color: #47753b;
    color: black;
}
.navtags {
    text-align: center;
    margin-left: 300px;
    margin-bottom: 100px;
    float: right;
    font-size: 25px;
    margin-right: 20px;
   border-radius: 100%;
}
#nav1::before {
        content: '\01C0   ';
}
#nav1::after {
    content: ' \01C0   ';
}

#nav2::after {
    content: ' \01C0   ';
}
#nav3::before {
    content: '\01C0   ';
}
#nav3::after {
    content: ' \01C0   ';
}

#nav4::after {
    content: ' \01C0   ';
}


/*section.forskel{
    color: whitesmoke;
    font-size: large;
    margin-right: 50px;
    margin-left: 0px;
}
section.hos-forbrugeren{
    color: whitesmoke;
    font-size: large;
    margin-right: 50px;
    margin-left: 0px
}*/

.intro h2 {
    color:whitesmoke;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    transition: all 0.5s ease-in-out;
    position: relative;
    text-transform: uppercase;

}

.intro p{
    font-size:20px;
    color: black;
    margin-right: 50px;
    margin-left: 0px;

}
#h2{
    margin-top: 50px;
}
a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    transition: all 0.5s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
a:link{
    text-decoration: none;
}
a:hover{
    background-color: #383838;
}

h1 {
    font-size: 3rem;
    line-height: 4rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin-top: 100px;
    transition: all 0.5s ease-in-out;

}

.footer{
    font-size: 20px;
    text-align: center;
    position: relative;
    margin-top: 100px;
    bottom: 20px;
    left: 5px;
}



img{
    height: 40%;
    width: 40%;
    opacity: 70%;
    margin-top: 30px;
}