body {
    font-family: "Times New Roman";
    background-color: #47753b;
    color: #383838;
}
.navtags {
    text-align: center;
    margin-left: 300px;
    margin-bottom: 100px;
    float: right;
    font-size: 25px;
    margin-right: 20px;
   border-radius: 100%;
}
#nav1 {
    border-radius: 10px;
    background: #383838;
    padding: 10px;
    width: 200px;
    height: 150px;
}

section.forskel{
    color: black;
    font-size: large;
    margin-right: 50px;
    margin-left: 0px;
}
section.hos-forbrugeren{
    color: black;
    font-size: large;
    margin-right: 50px;
    margin-left: 0px
}
a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    transition: all 0.5s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
a:link{
    text-decoration: none;
}
a:hover{
    background-color: #383838;
}

h1 {
    font-size: 3rem;
    line-height: 4rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin-top: 100px;
    transition: all 0.5s ease-in-out;
    color: #383838;

}

.footer{
    position: fixed;
    bottom: 5px;
    left: 5px;
}

img{
    height: 40%;
    width: 40%;
    opacity: 70%;
    margin-top: 30px;
}