body {
    font-family: "Times New Roman";
    background-color: #47753b;
    color: #383838;
}

.navtags{
    text-align: center;
    margin-left: 300px;
    margin-bottom: 100px;
    float: right;
    font-size: 25px;
    margin-right: 20px;
}

a{
    color: whitesmoke;
}
a:link{
    text-decoration: none;
}
a:hover{
    background-color: #383838;
}

h1 {
    font-size: 3rem;
    line-height: 4rem;
}



h2 {
    font-size: 2rem;
    margin-top: 100px;
}

.footer{
    position: fixed;
    bottom: 5px;
    left: 5px;
}

