<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stop madspild</title>
    <link rel="stylesheet" href="css-reset.css" />
    <link rel="stylesheet" href="main.css">
    <a href="/">
        <IMG SRC="Danmark-mod-madspild-logo.png" ALT="some text" WIDTH=250 HEIGHT=150>
    </a>
</head>

<main>
    <header>
        <a href="/">
            <h1>Danmark mod Madspild </h1>
        </a>        <section class="navtags">
            <nav>
                <a href="/fakta">Fakta om madspild</a>
                <a href="/"> Startside</a>
            </nav>
        </section>
    </header>
<body>
<section>
    <h2>Madspild hos forbrugeren</h2>
    <p>
        Madspildet i den danske servicesektor udgør 227.000-ton pr. år. Til sammenligning er det samlede madspild fra husholdningerne 261.000-ton pr. år. Det svarer til, at hver dansker gennemsnitligt smider ca. 43,7 kg spiselig mad ud om året.
        En undersøgelse af de danske husholdningers madspild i 2017 viser, at på trods af et fald til ca. 247.000 ton (kilde 2), spildes der stadig en stor mængde mad hos de danske forbrugere, og dermed er madspild i Danmark stadig et ressourcemæssigt spild samt et miljø- og klimamæssigt problem.
        Det forstærkes af, at et spild i forbrugerleddet udgør et særligt ressourcemæssigt spild, da forbrugerne er sidste led i værdikæden. I madens vej fra jord til bord er der blevet brugt ressourcer på pakning, distribution, behandling, køling, placering og opbevaring i supermarkedet, transport
        til husholdningen og opbevaring i husholdningen. Det er noget, der altsammen har krævet ressourcer. Hvis maden ikke bliver spist, som det var tiltænkt, er det ikke blot et spild af mad, det er et unødigt spild af de ressourcer, der har gjort rejsen fra jord til bord mulig.
    </p>
</section>

<section id="test">
    <h2>Du kan gøre en forskel!</h2>
    <p>
        Af den grund er forbrugerne helt centrale, og en reduktion af forbrugernes madspild er særligt vigtigt for at mindske de uhensigtsmæssige konsekvenser, der følger med madspild. Derudover er forbrugerne også en nøgleaktør ift. at mindske madspildet andre steder i værdikæden, da forbrugerne stiller høje krav til friskheden, kvaliteten og udseendet af maden. Der har dog de senere år været en stigende interesse for at undgå madspild hos de danske forbrugere.
        Forbrugerne er altså helt centrale at fokusere på, hvis man skal mindske madspildet i Danmark, og minimere det ressourcemæssige spild, og de medfølgende miljø- og klimamæssige konsekvenser.
    </p>
</section>



</body>
</main>
</html>