<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stop madspild</title>
    <link rel="stylesheet" href="css-reset.css" />
    <link rel="stylesheet" href="main.css">
</head>

<main>
<header>
    <a href="/">
        <h1>STOP MADSPILD! </h1>
    </a>
    <section class="navtags">
    <nav>
        <a href="/fakta">Fakta om madspild</a>
        <a href="/"> Startside</a>
    </nav>
    </section>
</header>

<body>
<h2>Fortæl os hvad du har tilovers og vi finder en lækker opskrift til dig</h2>

<form method="get" action="https://www.webopskrifter.dk/search/">
    <input name="q">
    <input type="Submit">
</form>



</body>
</main>
<section class="footer">
<footer>Made by Rabia, Stanley & Jacob</footer>
</section>
</html>