<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stop madspild</title>
    <link rel="stylesheet" href="main.css">
    <a href="/">
        <IMG class="logo" src="Danmark-mod-madspild-logo.png" alt="logo" WIDTH=200 HEIGHT=150>
    </a>
</head>

<main>
<header>
    <a href="/">
        <h1>Danmark mod Madspild </h1>
    </a>
    <section class="navtags">
    <nav>
        <a id="nav1" href="/fakta">Fakta om madspild</a>
        <a id="nav2" href="/"> Startside</a>
    </nav>
    </section>
</header>

<body>
<h2>Fortæl os hvad du har tilovers og vi finder en lækker opskrift til dig</h2>
<h3>Indtast dine ingredienser med mellemrum</h3>


<form method="get" action="https://www.webopskrifter.dk/search/">
    <input type="search" name="q" placeholder="fx. løg kartofler pasta kylling..." size="70px" >
    <input type="Submit">
</form>

<img class="mad" src="https://cdn-dk-mk-me.clio.me/user_upload/madspild_-_SpeedKingz._Shutterstock.jpg" alt="øvøvøv">


</body>
</main>
<section class="footer">
<footer>Made by Rabia, Stanley & Jacob</footer>
</section>
</html>