<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stop madspild</title>
    <link rel="stylesheet" href="main.css">
    <!--
    <a href="/">
        <IMG class="logo" src="Danmark-mod-madspild-logo.png" alt="logo" WIDTH=200 HEIGHT=150>
    </a>
    !-->
</head>

<main>
<header>
    <!--
    <a href="/">
        <h1>Danmark mod Madspild </h1>
    </a>
    !-->


    <!--
    <section class="navtags">
    <nav>
        <a id="nav1" href="/fakta">Fakta om madspild</a>
        <a id="nav2" href="/"> Startside</a>
    </nav>
    </section>
    !-->


    <div class="header">
        <a href="/">
            <IMG class="logo" src="Danmark-mod-madspild-logo.png" alt="logo" WIDTH=200 HEIGHT=150>
        </a>
        <div class="header-right">
            <a id="nav2" href="/"> Startside</a>
            <a id="nav1" href="/fakta">Fakta om madspild</a>
        </div>
    </div>

</header>

<body>
<h1>Råvarer tilovers?</h1>
<h2>Fortæl os hvad du har, så finder vi en lækker opskrift til dig</h2>
<h3>Indtast dine ingredienser med mellemrum</h3>

<h4>Udelad ingredienser:</h4>
<p>
    For at udelade en ingrediens fra søgningen skal der skrives minus foran ingrediensen. Fx. Tomat hakkekød -løg
</p>
<form class="Search" method="get" action="https://www.webopskrifter.dk/search/" id="form">
    <input type="search" name="q" placeholder="fx. løg kartofler pasta kylling..." size="70px" >
    <input id="box" type="Submit">
</form>


<!--<p id="image"></p>-->

<!--<img class="mad" src="https://cdn-dk-mk-me.clio.me/user_upload/madspild_-_SpeedKingz._Shutterstock.jpg" alt="øvøvøv" >-->


</body>
</main>
<section class="footer">
<footer>Made by Rabia, Stanley & Jacob</footer>
</section>
</html>